p.paragraph1{
    font-style: italic;
}

p.paragraph2{
    font-style: oblique;
}

p.paragraph3{
    border-style: dotted;
}

p.paragraph4{
    border-radius: 25px;
    border: 2px solid;
}

p.paragraph5{
    float: left;
}

#img{
    width: 50px;
    height: 50px;
}

#img2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

div{
    width: 400px;
    height: 400px;
    background-image: url("https://5b0988e595225.cdn.sohucs.com/images/20190325/f8d4689c06954055be349342618d1d6f.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.paragraph6{
    color: rgb(203, 20, 220);
    font-size: larger;
}
